div.login-page  .form {
    background: #343436;
}
.logo{
    max-width: 270px;
}

.login-page-body {
    background: linear-gradient(to left, #F64934, #F64934);
}

.login-page-body button, .login-page-body button:hover {
    background: #F8CA18;
}

.main-menu.menu-fixed {
    top: 5.57rem;
}

.app-content.content {
    padding-top: 0px;
}
button{
    background: #F8CA18;
}
nav.header-navbar.navbar-expand-md.navbar.navbar-with-menu.fixed-top.navbar-light.navbar-shadow {
    background: #1D2B37;
}
